<section id="page-wrapper">
  <div class="formWrapper">
    <h1>Please Enter an Email</h1>
    <form id="emailSearch" action="/" method="post">
      <input type="email" name="email" placeholder="example@example.com">
      <button class="btn waves-effect waves-light upload-button" type="submit" name="submit">Surf
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</section>
