<h1>Please Enter an Email</h1>

<div class="formWrapper">
  <form id="emailSearch" action="/" method="post">
    <input type="text" name="email" placeholder="example@example.com">
    <input class="upload-button" type="submit" value="Search" name="submit">
  </form>
</div>
