<h1>Take a selfie</h1>

<div class="formWrapper">
  <form id="imageUpload" action="/" method="post">
    <input type="text" name="fileToUpload" placeholder="image url">
    <input class="upload-button" type="submit" value="Upload Image" name="submit">
  </form>
</div>
