
<div class="formWrapper">
  <h1>Please Enter an Email</h1>
  <form id="emailSearch" action="/" method="post">
    <input type="text" name="email" placeholder="example@example.com">
    <button class="btn waves-effect waves-light upload-button" type="submit" name="submit">Surf</button>
  </form>
</div>

<!-- <input class="upload-button" type="submit" value="Search" name="submit"> -->
